.DS_Store
fish_variables

# jorgebucaran/fisher
functions/fisher.fish
completions/fisher.fish

# jorgebucaran/hydro
functions/fish_mode_prompt.fish
functions/fish_prompt.fish
conf.d/hydro.fish

# jethrokuan/z
functions/__z_*
functions/__z.fish
conf.d/z.fish

# IlanCosman/tide@v6
completions/tide.fish
conf.d/_tide_init.fish
functions/tide/*
functions/_tide_*
functions/tide.fish
